body{
    background-color: RGB(217, 219, 221);
}
#new-post, #post{
    background-color: rgb(255, 255, 255, 0.9);
}
nav{
    background-color: white;
}
#logo{
    font-size: 25px;
}
ul li{
    display: flex;
    align-items: center;
    margin-left: 20px;
    /* justify-content: space-between; */
}
#user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
}